* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #000;
  overflow: hidden;
}

.web-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 150px;
  background: white;
}

.spider {
  position: absolute;
  top: 145px;
  left: -120px;
  width: 90px;
  height: 70px;
}

.body {
  position: absolute;
  left: 28px;
  top: 18px;
  width: 45px;
  height: 35px;
  background: white;
  border-radius: 50%;
}

.head {
  position: absolute;
  left: 10px;
  top: 25px;
  width: 28px;
  height: 24px;
  background: white;
  border-radius: 50%;
}

.leg {
  position: absolute;
  width: 45px;
  height: 4px;
  background: white;
  border-radius: 10px;
  transform-origin: right center;
  animation: legMove 0.35s ease-in-out infinite alternate;
}

.l1 { left: -5px; top: 22px; transform: rotate(35deg); }
.l2 { left: -8px; top: 32px; transform: rotate(15deg); }
.l3 { left: -8px; top: 43px; transform: rotate(-15deg); }
.l4 { left: -5px; top: 53px; transform: rotate(-35deg); }

.r1, .r2, .r3, .r4 {
  transform-origin: left center;
}

.r1 { right: -5px; top: 22px; transform: rotate(-35deg); }
.r2 { right: -8px; top: 32px; transform: rotate(-15deg); }
.r3 { right: -8px; top: 43px; transform: rotate(15deg); }
.r4 { right: -5px; top: 53px; transform: rotate(35deg); }


@keyframes legMove {
  from { transform: rotate(25deg); }
  to { transform: rotate(-25deg); }
}
